@import "../../vars.css";

.container {
  margin-top: 76px;
  color: var(--color-text);
  background-color: var(--color-background);
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 37px;
  align-items: stretch; /* Ensures all skill items have equal height */
  justify-content: center;
}


@media screen and (max-width: 830px) {
  .title {
      font-size: 30px;
  }

  .content {
      flex-direction: column;
  }

  .projects {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
  }   
}