:root {
    /* Colours */
    --color-text: #388087;
    --color-primary: #388087;
    --color-secondary: #C2EDCE;
    --color-third: #BADFE7;
    --color-dark: #388087;
    --color-light: #C2EDCE;
    --color-bg: #F6F6F2;
  
    /* Fonts */
    --font-roboto: "Roboto";
  }